.instructions_area {
  grid-template-columns: 1fr;
}
.section-2 form {
  width: 100%;
}
.news_area {
  grid-template-columns: 1fr;
}
.contact_box {
  width: 90%;
}
.subscribe_box {
  flex-direction: column;
  gap: 10px;
}
.section-7 {
  margin-bottom: 0px;
}
footer {
  position: relative;
}
.footer_nav {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer_midel {
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.midle_right {
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
.footer_bottom {
  flex-direction: column;
  gap: 30px;
}
.fixed_bar {
  left: 20%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 520px) {
  .section-3 img {
    width: 100%;
  }
  .duble_btn_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .duble_btn_2 a {
    width: 100%;
  }
  .duble_btn_2 a:nth-child(1) {
    margin-left: 0px;
  }
  .fixed_bar {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .duble_btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .duble_btn a {
    width: 100%;
  }
  .duble_btn a:nth-child(2) {
    margin-left: 0px;
  }
}
